html,body{
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	background-color: #e3e3e3;
	color: #333;
}
.container{
	position: absolute;
	background-color: #fff;
	width:60%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 22em;
	box-shadow: 2px 4px 2px 2px #e3e3e3;
	border-top: 15px solid #333;
}
.title-img{
	margin: auto 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin-left: 30px;
	border-right: 1px solid #aaa;
}
.vin-title{
	margin-left: 50px;
	display: inline-block;
	font-size: 30px;
	font-family: serif;
	width: 30px;
	line-height: 1.2em;
	padding-right: 6px;
	border-right: 1px solid #aaa;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul{
	position: absolute;
	top: 20px;
	left: 20%;
	z-index: 999;
}
li{
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: #e3e3e3;
	border-radius: 50px;	
	text-align: center;
	margin:6em 40px;
}
@media (max-width: 800px){
	ul{
		left: 40%;
		top: 40px;
	}
	li{
		display: block;
		margin: 10px;
	}
}
#footer{
	text-align: center;
	position: absolute;
	top: 78%;
	left: 0;
	right: 0;
	margin:0 auto;
}
#footer a{
	font-weight: bolder;
	text-decoration: none;
	color: #333;
}
li>a{
	text-decoration: none;
	font-weight: bolder;
	color: #333;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 40%;
	position: absolute;
}
#ipod{
	position: absolute;
	left: -50px;
	top: -50px;
}
.h-middle{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.v-middle{
	position: absolute;
	bottom: 0;
	top: 0;
}
.hv-middle{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.circle{
	border-radius: 100%;
}
.ipod-big-circle,#ipod{
	width: 100px;
	height: 100px;
}
.ipod-big-circle{
	background-color: #333;
}
.ipod-small-circle{
	width: 30px;
	height: 30px;
	background-color: brown;
}
.ipod-inner-point{
	background-color: #e3e3e3;
	width: 5px;
	height: 5px;
}