html,body{
	padding: 0px;
	margin: 0px;
}
body{
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 100%;
	border: 1px solid #e3e3e3;
	box-shadow: 3px 3px 3px #eee;
}
.vin-title{
	margin-left: 50px;
	display: inline-block;
	font-size: 30px;
	font-family: serif;
	width: 30px;
	padding-right: 4px;
	border-right: 1px solid #aaa;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul{
	position: absolute;
	top: 20px;
	left: 300px;
	z-index: 999;
}
li{
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #e3e3e3;
	border-radius: 50px;	
	text-align: center;
	margin: 20px;
}
a{
	text-decoration: none;
	font-weight: bolder;
	color: #333;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 40%;
	position: absolute;
}