body,html,*{
	font-family: monaco;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
h3{
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
}
body{
	background-color: #ddddcc;
	color:brown;
}
a{
	text-decoration:none;
	color: darkseagreen;
}
a:hover{
	color: brown;
}
.container{
	width: 960px;
	margin:0 auto;
}
.period{
	font-size: 16px;
	font-weight: 500;
}
.events{
	margin:  50px 0;
	line-height: 25px;
	display: block;
	list-style: none;
	margin-left: 200px;
}
.events li>em{
	display: inline-block;
	width: 400px;	
}